#grandparent{
    border: 1px solid;
    height: 300px;
    width: 300px;
}
#parent{
    margin: 50px;
    border: 1px solid;
    height: 200px;
    width: 200px;
}

#child{
    margin: 50px;
    border: 1px solid;
    height: 100px;
    width: 100px;
}